.card{
    border: 1px solid #DCDCDC;
    width: 10rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.cardImageWrapper{
    display: flex;
    height: 50%;
    justify-content: center;
}

.cardImg{
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: padding-top padding-bottom .7s; 

}

.card:hover .cardImg{
    padding-top: .6rem;
    padding-bottom: .4rem;
}

.cardTextWrapper{
    text-align: center;
}

.card{
}

.cardPrice{
    margin-top: .5rem;
    color: #EF4932;
    font-weight: 700;
}