.footerWrapper{
background-color: #F1F1F1;
display: flex;
justify-content: center;

padding:2rem;
}

.footer{
    max-width: 70rem;
    width: 100%;
    padding-left: 2rem;
    display: flex;
}

.footerOptionsTitle{
margin-top: 2rem;
margin-bottom: 1.5rem;
font-weight: 700;
}

.footerOptions{
    display: flex;
    flex-direction: column;
}

.downloadOptions{
    display: flex;
}

a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: #646464;
}

a:hover{
    color: #11A0DB;
}

.textCenter{
    text-align: center;
}

.footerOptionsWrapper{
    margin-left: 2rem;
    margin-right: 2rem;
}

.logoImg{
    height: 3rem;
}